<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="">Home</a>
  <button class="navbar-toggler btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"  aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarTogglerDemo02">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="equipment/rings">Rings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="equipment/1h_swords">1H Swords</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="equipment/1h_maces">1H Maces</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="equipment/2h_swords">2H Swords</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="equipment/2h_maces">2H Maces</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="equipment/pistols">Pistols</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="equipment/rifles">Rifles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="equipment/necklaces">Necklaces</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="equipment/cloaks">Cloaks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="equipment/body">Body</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="equipment/hands">Hands</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="equipment/boots">Boots</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="equipment/helmets">Helmets</a>
      </li>
    </ul>
  </div>
</nav>
